@model IEnumerable<DoctorWeb.Models.CustomModels.PatientSearch>
@{
    ViewBag.Title = "Followup Patients";
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}

<script src="~/Content/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Content/js/jquery-1.12.0.min.js"></script>
<script src="~/Content/autocomplete/jquery-ui.js"></script>
@*@{
    String fdate = DateTime.Now.Date.ToString("yyyy-MM-dd");
    fdate = fdate + "T00:00";
}*@
@*Date:<input data-val="true" data-val-date="The field FollowDate must be a date." id="fdate" name="fdate" class="form-control" placeholder="DD-MM-YYYY" value=@fdate type="datetime-local" onchange="reload_dialog(event)">*@
@*<iframe id="followup-iframe" style="min-height:0; position:relative;">
    Hello*@
    <table class="table" id="SearchRecords">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefferalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewPatientOrFollowUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargesType)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefferalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewPatientOrFollowUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargesType)
                </td>
            </tr>
        }
    </table>
</iframe>
<script type="text/javascript">

    function reload_dialog(e) {
        document.getElementById("followup-iframe").contentDocument.location.reload(true);
        //var reloaddialog = jQuery.noConflict(true);
        //reloaddialog('#SearchRecords').dialog('destroy');
        //showVal(e);
    }

    function showVal(e) {
        //window.location = "/Home/Search?PatientName=" + document.getElementById("PatientName").value;
        var searchpatient = $.noConflict(true);
        searchpatient("#SearchRecords").dialog({
            autoOpen: true,
            position: { my: "center", at: "top", of: window },
            width: 1200,
            //resizable: false,
            title: 'Followup Patients',
            modal: true,
            classname: 'searchdialog',
            open: function (e) {
                var fdt = e.target.value;
                alert(fdt);
                searchpatient(this).load('@Url.Action("FollowupList", "Home", new { fdate = "fdt"})');
                searchpatient('#SearchRecords').focus();
            },

            close: function () {
                javascript: location.reload(true);
                @*searchpatient(this).load('@Url.Action("Index", "Home")');*@
                },
        });
        return false;
    }

</script>