@model DoctorWeb.Models.CustomModels.PrintModel
@{
    //ViewBag.Title = "Prescription";
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("FollowUp", "Home"))
{
    <div class="print_margin fonts_candara">
        <div style="float:left;">
            <label style="float:left;padding-right:5px;">Prescription Date</label>
            @Html.DropDownList("ID", (SelectList)ViewBag.Values, "Select Date", new { onchange = "this.form.submit();" })

            <input type="hidden" name="patientID" value="@ViewBag.PatientID" />
        </div>

        <div class="fltleft" style="width:100%;">
            <div id="HeaderPart">
                @*<h4>Header</h4>*@
                <div class="fltleft" style="width:100%;">
                    @{
                        if (Model.Header.HeaderPhoto != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Header.HeaderPhoto);
                            var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrchdr" style="height:150px; width:100%;" />
                        }
                    }
                </div>
                @*<div class="fltleft" style="width:82%;">
                        <div style="width:100%;">
                            <div style="width:65%;" class="fltleft">
                                <input type="text" placeholder="Hospital Name Here" />
                            </div>
                            <div style="width:35%;" class="fltleft">
                                <input type="text" placeholder="Doctor Name Here" />
                            </div>
                        </div>
                        <div style="width:100%;">
                            <div style="width:65%;" class="fltleft">
                                <input type="text" placeholder="Type Here" />
                            </div>
                            <div style="width:35%;" class="fltleft">
                                <input type="text" placeholder="Degree Here" />
                            </div>
                        </div>
                        <div style="width:100%;">
                            <div style="width:65%;" class="fltleft">
                                <input type="text" placeholder="Tagline Here" />
                            </div>
                            <div style="width:35%;" class="fltleft">
                                <input type="text" placeholder="Phone Number Here" />
                            </div>
                        </div>
                        <div style="width:100%;">
                            <input type="text" placeholder="Address" style="width:98%;" />
                        </div>
                    </div>*@
            </div>
            <hr style="clear:both; border-bottom:1px solid #000; padding:5px 0;" />
            <div id="PatientPart">
                @*<h4>Patient</h4>*@
                <div class="fltleft" style="width:100%; max-width:100px; max-height:100px; padding-right:10px;">
                    @{
                        if (Model.Patient.Photo != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Patient.Photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" />
                        }
                    }
                </div>
                <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Name))
                        {
                            <div class="print_text_padding " style="width:40%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Name)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Name)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Age.ToString()))
                        {
                            <div class="print_text_padding">
                                <div class="fltleft print_heading">
                                    @Html.DisplayFor(model => model.Patient.Age)
                                </div>
                                <span class="fltleft" style="padding: 0 2px;"> / </span>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Patient.Gender)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Weight))
                        {
                            <div class="print_text_padding">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Weight)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Weight)
                                </div>
                            </div>
                        }
                    }

                    <div class="print_text_padding">
                        <div class="print_text_fltleft print_heading">Date:</div>
                        <div>@DateTime.Now.ToString("dd/MM/yyyy")</div>
                    </div>
                </div>
                <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.ID.ToString()))
                        {
                            <div class="print_text_padding" style="width:100%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.ID)
                                </div>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Patient.ID)
                                </div>
                                <span class="fltleft" style="padding: 0 2px;"> - </span>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Patient.Department)
                                </div>
                                <span class="fltleft" style="padding: 0 2px;"> / </span>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Patient.Type)
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:82%;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Contact))
                        {
                            <div class="print_text_padding" style="width:40%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Contact)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Contact)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Email))
                        {
                            <div class="print_text_padding" style="width:40%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Email)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Email)
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Address))
                        {
                            <div class="print_text_padding" style="width:100%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Address)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Address)
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.KCO))
                        {
                            <div class="print_text_fltleft print_heading">
                                <span class="print_heading">K/C/O</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.KCO)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%;">

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.ComplainOf))
                        {
                            <div class="print_text_padding" style="width:50%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.ComplainOf)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.ComplainOf)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Since))
                        {
                            <div class="fltright" style="width:50%;">
                                <div class="fltright">
                                    <div class="print_heading fltleft">
                                        @Html.DisplayNameFor(model => model.Patient.Since)
                                    </div>
                                    <div style="padding-left:10px;" class="fltleft">
                                        @Html.DisplayFor(model => model.Patient.Since)
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="fltleft" style="width:100%;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Constipation.ToString()))
                        {
                            <div style="float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Constipation)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Constipation)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.ConstipationMore)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.GAS.ToString()))
                        {
                            <div style="float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.GAS)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.GAS)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.GASMore)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Acidity.ToString()))
                        {
                            <div style="float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Acidity)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Acidity)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.AcidityMore)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Pain.ToString()))
                        {
                            <div style="style=" float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Pain)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Pain)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.PainMore)
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="fltleft" style="width:100%;">

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Burning.ToString()))
                        {
                            <div style="style=" float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Burning)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Burning)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.BurningMore)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Bleeding.ToString()))
                        {
                            <div style="style=" float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Bleeding)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Bleeding)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.BleedingMore)
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Swelling.ToString()))
                        {
                            <div style="style=" float:left;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Swelling)
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.Swelling)
                                    <span>, </span>
                                    @Html.DisplayFor(model => model.Patient.SwellingMore)
                                </div>
                            </div>
                        }
                    }
                    @{

                        if (!string.IsNullOrEmpty(Model.Patient.SCO))
                        {
                            <div style="style=" float:left;">
                                <div class="print_text_fltleft print_heading">
                                    <span class="print_heading">S/C/O</span>
                                </div>
                                <div class="print_text_fltleft">
                                    @Html.DisplayFor(model => model.Patient.SCO) <span> degree</span>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.ACO))
                        {
                            <div class="print_text_fltleft print_heading">
                                <span class="print_heading">Asso./C/O</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.ACO)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Allergy))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.Allergy)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.Allergy)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.History))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.History)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.History)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Habbit))
                        {
                            <div class="print_text_padding" style="width:50%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Habbit)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Habbit)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Diet))
                        {

                            <div class="fltright" style="width:50%;">
                                <div class="fltright">
                                    <div class="print_heading fltleft">
                                        @Html.DisplayNameFor(model => model.Patient.Diet)
                                    </div>
                                    <div style="padding-left:10px;" class="fltleft">
                                        @Html.DisplayFor(model => model.Patient.Diet)
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
                <label class="arial_heading">EXAMINATION</label>
                @*IMAGES WILL BE CODED HERE*@
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (Model.Patient.DrawenImage1 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Patient.DrawenImage1);
                            var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/Graphic1.png'); background-size:150px 125px; background-position:center; background-repeat:no-repeat;">
                                <img src="@imgSrchdr" style="height:125px; width:150px;" />
                            </div>
                        }
                    }
                    @{
                        if (Model.Patient.DrawenImage2 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Patient.DrawenImage2);
                            var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/Graphic2.png'); background-size:150px 125px; background-position:center; background-repeat:no-repeat;">
                                <img src="@imgSrchdr" style="height:125px; width:150px;" />
                            </div>
                        }
                    }

                    @{
                        if (Model.Patient.UploadedImage1 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Patient.UploadedImage1);
                            var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                <img src="@imgSrchdr" style="height:125px; width:150px;" />
                            </div>
                        }
                    }
                    @{
                        if (Model.Patient.UploadedImage2 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Patient.UploadedImage2);
                            var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                <img src="@imgSrchdr" style="height:125px; width:150px;" />
                            </div>
                        }
                    }  
                    @{
                        if (Model.Patient.PrescriptionImages != null)
                        {
                            foreach (var item in Model.Patient.PrescriptionImages)
                            {
                                var base64 = Convert.ToBase64String(item);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                    <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                </div>
                            }
                        }
                    }
                </div>

                <div class="fltleft" style="width:100%; clear:both; font-family:Calibri; font-size:11pt;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Height))
                        {
                            <div class="print_text_padding " style="width:20%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Height)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Height)<span> cm,</span>
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Temprature))
                        {
                            <div class="print_text_padding " style="width:20%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Temprature)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Temprature)<span> F,</span>
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Pulse))
                        {
                            <div class="print_text_padding " style="width:20%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Pulse)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Pulse) <span>/min,</span>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.BP))
                        {
                            <div class="print_text_padding " style="width:20%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.BP)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.BP)<span>mmhg,</span>
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.SPO2))
                        {
                            <div class="print_text_padding " style="width:20%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.SPO2)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.SPO2)<span>%,</span>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.PR))
                        {
                            <div class="print_text_fltleft print_heading">
                                <span class="print_heading">P/R</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.PR)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Proctoscopy))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.Proctoscopy)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.Proctoscopy)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Others))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.Others)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.Others)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both; font-family:arial black; font-size:10pt; text-decoration:underline;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Diagnosis))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.Diagnosis)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.Diagnosis)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Procedure))
                        {
                            <div class="print_text_fltleft print_heading">
                                @Html.DisplayNameFor(model => model.Patient.Procedure)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Patient.Procedure)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; clear:both;">
                  @{
                      if (Model.Patient.Investigations.Count() > 0)
                      {
                          //int inst_cnt = 1;
                        <div class="print_heading fltleft">
                            @Html.DisplayNameFor(model => model.Patient.Investigations)
                        </div>
                        <div class="fltleft">
                            @foreach (var item in Model.Patient.Investigations)
                            {
                            <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                @Html.DisplayFor(modelItem => item.Name),
                            </div>
                            }
                        </div>
                                @*<div>
                                    @foreach (var item in Model.Patient.Investigations)
                                    {
                                        <div style="clear:both; width:100%">
                                            <div class="fltleft" style="width:3%;">
                                                <span>@inst_cnt)</span>
                                            </div>
                                            <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                                @Html.DisplayFor(modelItem => item.Name):
                                            </div>
                                        </div>
                                        inst_cnt = inst_cnt + 1;
                                    }
                                </div>*@

                      }
                }
                </div>
            </div>
            <div id="RxPart">
                <label class="arial_heading" style="clear:both;">
                    R/X:
                </label>
                <table class="table table-bordered" style="width:auto; font-family:Calibri; font-size:10pt; border:none; margin-bottom:10px;">
                    <tr style="text-transform:uppercase;">
                        <th colspan="2" style="padding-left:0px;">
                            Medicine Name
                        </th>
                        <th>
                            Morning
                        </th>
                        <th>
                            Noon
                        </th>
                        <th>
                            Night
                        </th>
                        <th>
                            Dosage
                        </th>
                        <th>
                            QTY.
                        </th>
                    </tr>
                    @foreach (var item in Model.RX.Medicines)
                    {
                        <tr>
                            <td style="width:5%; padding-left:0px;">
                                @Html.DisplayFor(modelItem => item.OINT.Name)
                            </td>
                            <td style="width:45%;">
                                @Html.DisplayFor(modelItem => item.OINTMore)
                            </td>
                            <td style="width:5%; text-align:center;">
                                @Html.DisplayFor(modelItem => item.Morning.Name)
                            </td>
                            <td style="width:5%; text-align:center;">
                                @Html.DisplayFor(modelItem => item.Noon.Name)
                            </td>
                            <td style="width:5%; text-align:center;">
                                @Html.DisplayFor(modelItem => item.Night.Name)
                            </td>
                            <td style="width:30%;">
                                @Html.DisplayFor(modelItem => item.Dosage.Name)
                            </td>
                            <td style="width:5%; text-align:center;">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </tr>
                    }
                </table>



            </div>
            <div id="CompulsoryPart">
                <div class="fltleft" style="width:100%;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Compulsory.FollowDate))
                        {
                            <div class="print_text_fltleft arial_heading">
                                <label class="arial_heading" style="float:left; padding-right:5px;">FOLLOW UP DATE:</label>
                                @Html.DisplayFor(model => model.Compulsory.FollowDate)
                                <span>, </span>
                                @Html.DisplayFor(model => model.Compulsory.Day)
                            </div>
                            @*<div class="arial_heading" style="float:left;">
                                @Html.DisplayFor(model => model.Compulsory.FollowDate)
                                <span>, </span>
                                @Html.DisplayFor(model => model.Compulsory.Day)
                            </div>*@
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Compulsory.FollowDate))
                        {
                            int inst_cnt = 1;
                            <div class="print_heading">
                                @Html.DisplayNameFor(model => model.Compulsory.Instructions)
                            </div>
                            <div>
                                @foreach (var item in Model.Compulsory.Instructions)
                                {
                                    <div style="clear:both; width:100%">
                                        <div class="fltleft" style="width:3%;">
                                            <span>@inst_cnt)</span>
                                        </div>
                                        <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                            @Html.DisplayFor(modelItem => item.Name):
                                        </div>
                                        <div class="fltleft" style="width:80%; text-align:justify;">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </div>
                                    </div>
                                    inst_cnt = inst_cnt + 1;
                                }
                            </div>

                        }
                    }
                </div>
            </div>

            <div id="InvoicePart">
                <label class="arial_heading" style="text-decoration:underline;">INVOICE</label>
                <div class="fltleft" style="width:100%; font-family:Calibri; font-size:10pt;">
                    @{
                        foreach (var pt in Model.Invoice.PaymentTypes)
                        {
                            <div class="fltleft">
                                <div class="print_heading fltleft">
                                    <span>@pt.PaymentTypeName</span>
                                </div>
                                <div class="fltleft" style="padding-right:5px;">
                                    <span>@pt.Rupees</span>
                                    <span> +</span>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.Medicine))
                        {
                            <div class="print_heading fltleft">
                                @Html.DisplayNameFor(model => model.Invoice.Medicine)
                            </div>
                            <div class="fltleft">
                                @Html.DisplayFor(model => model.Invoice.Medicine)
                            </div>
                        }
                    }
                    
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.OtherFromTextbox))
                        {
                            <span class="fltleft" style="padding:0 5px;">+</span>
                            <div class="print_heading fltleft">
                                <label class="print_heading fltleft">Other</label>
                            </div>
                            <div class="fltleft">
                                @Html.DisplayFor(model => model.Invoice.OtherFromTextbox)
                            </div>
                        }
                    }
                    
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.Less))
                        {
                            <span class="fltleft" style="padding:0 5px;"> –</span>
                            <div class="print_heading fltleft">
                                @Html.DisplayNameFor(model => model.Invoice.Less)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Invoice.Less)
                            </div>
                        }
                    }
                </div>
                <div class="fltleft" style="width:100%; font-family:Calibri; font-size:10pt;">
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.Total))
                        {
                            <div class="fltleft" style="width:33%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Invoice.Total)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Invoice.Total)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.CashRecived))
                        {
                            <div class="fltleft" style="width:33%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Invoice.CashRecived)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Invoice.CashRecived)
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Invoice.PendingAmount))
                        {
                            <div class="fltleft" style="width:33%;">
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Invoice.PendingAmount)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Invoice.PendingAmount)
                                </div>
                            </div>
                        }
                    }
                </div>
                @*<div id="FooterPart">
                    <div class="fltleft" style="width:100%;">
                        @{
                            if (Model.Footer.FooterPhoto != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Footer.FooterPhoto);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrchdr" style="height:150px; width:100%;" />
                            }
                        }
                    </div>
                </div>*@
            </div>
        </div>
        </div>
                            }