@model DoctorWeb.Models.CustomModels.PrintInvoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintInvoice</title>
</head>
<body>
        @Html.DisplayNameFor(model => model.Age)
        @Html.DisplayNameFor(model => model.Gender)
        @Html.DisplayNameFor(model => model.Address)

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
        </tr>
    
    @foreach (var item in Model.Medicines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DosageID)
            </td>
        </tr>
    }
    </table>
</body>
</html>
