@model DoctorWeb.Models.CustomModels.PrintModel
@{
    //ViewBag.Title = "Prescription";
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Habbit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Habbit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Diet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Diet)
        </dd>
    </dl>
</div>

<div style="clear:both; display:block;">
    <button onclick="window.print();">Print this page</button>
</div>