@model DoctorWeb.Models.CustomModels.PrintInvoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintInvoice</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <style type="text/css">
        th, td {
            border: 1px solid #000;
            padding-left: 5px;
        }
    </style>
</head>
<body>
@using (Html.BeginForm("PrintInvoice", "Home", null, FormMethod.Post))
{
    <div class="print_margin fonts_candara" style="max-width:600px;">
        @Html.HiddenFor(p => p.PrescriptionID)
        <div class="print_text_fltleft print_heading checkbox" style="padding-left:10px;">
            <label class="arial_heading" style="float:left;">Header</label>
        </div>
        <div class="print_text_fltleft checkbox">
            @Html.EditorFor(model => model.IsHeaderPhotoRequired)
            @Html.ValidationMessageFor(model => model.IsHeaderPhotoRequired, "", new { @class = "text-danger" })
        </div>

        <div style="padding-top:10px;">
            @{
                if (Model.HeaderPhoto != null)
                {
                    var base64 = Convert.ToBase64String(Model.HeaderPhoto);
                    var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrchdr" style="height:150px; width:100%;" />
                }
            }
        </div>
        <label style="text-align:center; font-family:Candara; font-size:9pt; padding-top:10px;">Subject to @System.Web.Configuration.WebConfigurationManager.AppSettings["Jurisdiction"] jurisdiction</label>
        <h4 style="font-family:Calibri; font-size:14pt; text-align:center; text-decoration:underline">INVOICE</h4>
        <div style="font-family:Calibri; font-size:10pt;">
            @{
                if (!string.IsNullOrEmpty(Model.Name))
                {
                    <div class="print_text_padding" style="width:70%">
                        <div class="print_text_fltleft print_heading">
                            @Html.DisplayNameFor(model => model.Name)
                        </div>
                        <div class="fltleft">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                }
            }
            @{
                if (!string.IsNullOrEmpty(Model.TodayDate))
                {
                    <div class="print_text_padding" style="float:right;">
                        <div class="fltleft print_heading">
                            <span>Date</span>
                        </div>
                        <div class="fltleft">
                            @Html.DisplayFor(model => model.TodayDate)
                        </div>
                    </div>
                }
            }
        </div>

        <div style="clear:both; display:block; font-family:Calibri; font-size:10pt;">
            @{
                if (!string.IsNullOrEmpty(Model.Address))
                {
                    <div class="print_text_padding" style="width:70%">
                        <div class="print_text_fltleft print_heading">
                            @Html.DisplayNameFor(model => model.Address)
                        </div>
                        <div class="fltleft">
                            @Html.DisplayFor(model => model.Address)
                        </div>
                    </div>
                }
            }
            @{
                if (!string.IsNullOrEmpty(Model.InvoiceNo.ToString()))
                {
                    <div class="print_text_padding" style="float:right;">
                        <div class="fltleft print_heading">
                            <span>Invoice No</span>
                        </div>
                        <div class="fltleft">
                            @Html.DisplayFor(model => model.InvoiceNo)
                        </div>
                    </div>
                }
            }
        </div>

        <div id="medicinelist" style="clear:both; display:block;padding-top:20px;" class="invoice">
            <table style="width:100%;">
                <tr style="font-family:Calibri; font-size:10pt;" class="borderrow">
                    <th class="thalignleft">
                        No
                    </th>
                    <th class="thalignleft">
                        Medicine
                    </th>
                    <th class="thalignleft">
                        Quantity
                    </th>
                    <th class="thalignleft">
                        Rate
                    </th>
                    <th class="thalignright">
                        Total
                    </th>
                </tr>
                @foreach (var item in Model.Medicines)
                {
                    <tr style="font-family:Calibri; font-size:9pt;" id="medicine_list">
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OINTMore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td style="text-align:right; padding-right:10px;">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
                <tr style="font-family:Calibri; font-size:9pt;" class="borderrow">
                    <th colspan="4" class="invoice_colspan">
                        @Html.DisplayNameFor(model => model.Medicine)
                    </th>
                    <td style="text-align:right; padding-right:10px;">@Html.DisplayFor(model => model.Medicine)</td>
                </tr>
                @{
                    foreach (var pt in Model.PaymentTypes)
                    {
                        <tr style="font-family:Calibri; font-size:9pt; border-bottom:none;">
                            <th colspan="4" class="invoice_colspan">
                                   <span>@pt.PaymentTypeName</span>
                            </th>
                            <td style="text-align:right; padding-right:10px;"><span>@pt.Rupees.ToString("N0")</span></td>
                        </tr>
                    }
                 }
                <tr style="font-family:Calibri; font-size:9pt;">
                    <th colspan="4" class="invoice_colspan">
                        @Html.DisplayNameFor(model => model.Other)
                    </th>
                    <td style="text-align:right; padding-right:10px;">@Html.DisplayFor(model => model.Other)</td>
                </tr>
                <tr style="font-family:Calibri; font-size:9pt;">
                    <th colspan="4" class="invoice_colspan">
                        @Html.DisplayNameFor(model => model.Less)
                    </th>
                    <td style="text-align:right; padding-right:10px;">@Html.DisplayFor(model => model.Less)</td>
                </tr>
                <tr style="font-weight:700; font-family:Calibri; font-size:9pt;" class="borderrow">
                    <th colspan="4" class="invoice_colspan">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <td style="text-align:right; padding-right:10px;">@Html.DisplayFor(model => model.Total)</td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <div style="clear:both; display:block;">
                <input type="submit" value="Print" class="print_btn" style="width:100px;" />
            </div>
        </div>
    </div>
                }
</body>
</html>
