@model DoctorWeb.Models.CustomModels.PrintModel
@using System.Text;
@{
    //ViewBag.Title = "Prescription";
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("Print", "Home", null, FormMethod.Post))
{
    <div class="print_margin fonts_candara">
        <input type="hidden" name="PatientID" value="@ViewBag.PatientID" />
        <div class="fltleft" style="width:100%;">
            <label class="arial_heading" style="width:13%; float:left;">Print Section:</label>
            <div style="width:100%">
                <div class="print_text_padding" style="width:16%;">
                    <div class="print_text_fltleft print_heading checkbox" style="padding-left:10px;">
                        @*@Html.LabelFor(model => model.HeaderRequired, htmlAttributes: new { @class = "control-label col-md-2", style = "float:left;" })*@
                        <label class="arial_heading" style="float:left;">Header</label>
                    </div>
                    <div class="print_text_fltleft checkbox">
                        @Html.EditorFor(model => model.HeaderRequired)
                        @Html.ValidationMessageFor(model => model.HeaderRequired, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="print_text_padding" style="width:15%;">
                    <div class="print_text_fltleft print_heading checkbox">
                        @*@Html.LabelFor(model => model.PatientRequired, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="arial_heading" style="float:left;">Face</label>
                    </div>
                    <div class="print_text_fltleft checkbox">
                        @Html.EditorFor(model => model.PatientRequired)
                        @Html.ValidationMessageFor(model => model.PatientRequired, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="print_text_padding" style="width:26%;">
                    <div class="print_text_fltleft print_heading checkbox">
                        @*@Html.LabelFor(model => model.PatientRequired, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="arial_heading" style="float:left;">Patient Images</label>
                    </div>
                    <div class="print_text_fltleft checkbox">
                        @Html.EditorFor(model => model.UploadedImagesRequired)
                        @Html.ValidationMessageFor(model => model.UploadedImagesRequired, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="print_text_padding" style="width:12%;">
                    <div class="print_text_fltleft print_heading checkbox">
                        @*@Html.LabelFor(model => model.RXRequired, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="arial_heading" style="float:left;">RX</label>
                    </div>
                    <div class="print_text_fltleft checkbox">
                        @Html.EditorFor(model => model.RXRequired)
                        @Html.ValidationMessageFor(model => model.RXRequired, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="print_text_padding" style="width:18%;">
                    <div class="print_text_fltleft print_heading checkbox">
                        @*@Html.LabelFor(model => model.InvoiceRequired, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="arial_heading" style="float:left;">Invoice</label>
                    </div>
                    <div class="print_text_fltleft checkbox">
                        @Html.EditorFor(model => model.InvoiceRequired)
                        @Html.ValidationMessageFor(model => model.InvoiceRequired, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="print_text_padding" style="width:20%;">
                        <div class="print_text_fltleft print_heading checkbox">
                            <label class="arial_heading" style="float:left;">Footer</label>
                        </div>
                        <div class="print_text_fltleft checkbox">
                            @Html.EditorFor(model => model.FooterRequired)
                            @Html.ValidationMessageFor(model => model.FooterRequired, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            </div>
        </div>

        <div class="fltleft" style="width:100%;">
            <div id="except_invoice" style="min-height:985px;">
                <div id="HeaderPart">
                    @*<h4>Header</h4>*@
                    <div class="fltleft" style="width:100%;">
                        @{
                            if (Model.Header.HeaderPhoto != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Header.HeaderPhoto);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrchdr" style="height:150px; width:100%;" />
                            }
                        }
                    </div>
                </div>
                <hr style="clear:both; border-bottom:1px solid #000; padding:5px 0;" />
                <div id="PatientPart">
                    @*<h4>Patient</h4>*@
                    <div class="fltleft" style="width:100%; max-width:72px; max-height:72px; padding-right:10px;">
                        @{
                            @*if (Model.Patient.Photo != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Patient.Photo);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrc" />
                            }*@
                            if(!string.IsNullOrEmpty(Model.PatientPhotoPath))
                            {
                                @Html.Raw("<img src=" + Model.PatientPhotoPath + " width='100' height='100'/>")
                            }
                        }
                    </div>
                    <div style="width:100%">
                        <div class="fltleft" style="width:73%; font-family:Calibri; font-size:10pt;">
                            @{
                                if (!string.IsNullOrEmpty(Model.Patient.Name))
                                {
                                    <div class="print_text_padding " style="width:40%;">
                                        <div class="print_text_fltleft print_heading">
                                            @Html.DisplayNameFor(model => model.Patient.Name)
                                        </div>
                                        <div>
                                            @Html.DisplayFor(model => model.Patient.Name)
                                        </div>
                                    </div>
                                }
                            }
                            @{
                                if (!string.IsNullOrEmpty(Model.Patient.Age.ToString()))
                                {
                                    <div class="print_text_padding">
                                        <div class="fltleft">
                                            @Html.DisplayFor(model => model.Patient.Age)
                                        </div>
                                        <span class="fltleft" style="padding: 0 2px;"> / </span>
                                        <div class="fltleft">
                                            @Html.DisplayFor(model => model.Patient.Gender)
                                        </div>
                                    </div>
                                }
                            }

                            @{
                                if (!string.IsNullOrEmpty(Model.Patient.Weight))
                                {
                                    <div class="print_text_padding">
                                        <div class="print_text_fltleft print_heading">
                                            @Html.DisplayNameFor(model => model.Patient.Weight)
                                        </div>
                                        <div>
                                            @Html.DisplayFor(model => model.Patient.Weight)<span>Kg</span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="print_text_padding" style="width:15%; float:right;">
                            <div class="print_text_fltleft print_heading">Date</div>
                            <div>@DoctorWeb.Extension.CultureDate.ConvertUTCBasedOnCuture(DateTime.UtcNow.Date).ToString("dd/MM/yyyy")</div>
                        </div>
                    </div>
                    <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.ID.ToString()))
                            {
                                <div class="print_text_padding" style="width:100%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.ID)
                                    </div>
                                    <div class="fltleft">
                                        @Html.DisplayFor(model => model.Patient.ID)
                                    </div>
                                    <span class="fltleft" style="padding: 0 2px;"> - </span>
                                    <div class="fltleft">
                                        @Html.DisplayFor(model => model.Patient.Department)
                                    </div>
                                    <span class="fltleft" style="padding: 0 2px;"> / </span>
                                    <div class="fltleft">
                                        @Html.DisplayFor(model => model.Patient.Type)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Contact))
                            {
                                <div class="print_text_padding" style="width:24%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Contact)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Contact)<span>  </span>
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Email))
                            {
                                <div class="print_text_padding" style="width:40%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Email)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Email)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:82%; font-family:Calibri; font-size:10pt;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Address))
                            {
                                <div class="print_text_padding" style="width:100%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Address)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Address)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both; padding-top:10px;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.KCO))
                            {
                                <div>
                                    <label class="print_text_fltleft print_heading">K/C/O</label>
                                    <span style="color:#861010; font-weight:bold;">@Html.DisplayFor(model => model.Patient.KCO)</span>
</div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%;">

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.ComplainOf))
                            {
                                <div class="print_text_padding" style="width:50%;">
                                    <label class="print_text_fltleft print_heading">Complain Of</label>
                                    @Html.DisplayFor(model => model.Patient.ComplainOf)
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Since))
                            {
                                <div class="fltright" style="width:50%;">
                                    <div class="fltright">
                                        <div class="print_heading fltleft">
                                            @Html.DisplayNameFor(model => model.Patient.Since)
                                        </div>
                                        <div style="padding-left:5px;" class="fltleft">
                                            @Html.DisplayFor(model => model.Patient.Since)
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="fltleft" style="width:100%; padding-left:7%;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Constipation.ToString()))
                            {
                                <div style="float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Constipation)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Constipation)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.ConstipationMore)
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.GAS.ToString()))
                            {
                                <div style="float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.GAS)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.GAS)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.GASMore)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Acidity.ToString()))
                            {
                                <div style="float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Acidity)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Acidity)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.AcidityMore)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Pain.ToString()))
                            {
                                <div style="style=" float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Pain)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Pain)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.PainMore)
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="fltleft" style="width:100%; padding-left:7%;">

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Burning.ToString()))
                            {
                                <div style="style=" float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Burning)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Burning)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.BurningMore)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Bleeding.ToString()))
                            {
                                <div style="style=" float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Bleeding)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Bleeding)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.BleedingMore)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Swelling.ToString()))
                            {
                                <div style="style=" float:left;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Swelling)
                                    </div>
                                    <div class="print_text_fltleft">
                                        <span> + </span>
                                        @Html.DisplayFor(model => model.Patient.Swelling)
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Patient.SwellingMore)
                                    </div>
                                </div>
                            }
                        }
                        @{

                            if (!string.IsNullOrEmpty(Model.Patient.SCO))
                            {
                                <div style="style=" float:left;">
                                    <div class="print_text_fltleft">
                                        <label class="print_text_fltleft print_heading">S/C/O</label>
                                        <span>GRADE </span>@Html.DisplayFor(model => model.Patient.SCO)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.ACO))
                            {
                                <div>
                                    <label class="print_text_fltleft print_heading">Asso./C/O</label>
                                    @Html.DisplayFor(model => model.Patient.ACO)
                                </div>

                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Allergy))
                            {
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Allergy)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Allergy)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.History))
                            {
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.History)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.History)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Habbit))
                            {
                                <div class="print_text_padding" style="width:50%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Habbit)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Habbit)
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Diet))
                            {

                                <div class="fltright" style="width:50%;">
                                    <div class="fltright">
                                        <div class="print_heading fltleft">
                                            @Html.DisplayNameFor(model => model.Patient.Diet)
                                        </div>
                                        <div style="padding-left:5px;" class="fltleft">
                                            @Html.DisplayFor(model => model.Patient.Diet)
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    @{
                        if ((Model.Patient.DrawenImage1 != null) || (Model.Patient.DrawenImage2 != null) || (Model.Patient.PrescriptionImages.Count > 0) || (Model.Patient.UploadedImage1 != null) || (Model.Patient.UploadedImage2 != null) || (!string.IsNullOrEmpty(Model.Patient.Height)) || (!string.IsNullOrEmpty(Model.Patient.Temprature)) || (!string.IsNullOrEmpty(Model.Patient.Pulse)) || (!string.IsNullOrEmpty(Model.Patient.BP)) || (!string.IsNullOrEmpty(Model.Patient.SPO2)) || (!string.IsNullOrEmpty(Model.Patient.PR)) || (!string.IsNullOrEmpty(Model.Patient.Proctoscopy)) || (!string.IsNullOrEmpty(Model.Patient.Others)) || (!string.IsNullOrEmpty(Model.Patient.Diagnosis)))

                        {
                            <label class="arial_heading" style="padding-top:10px;">
                                EXAMINATION
                            </label>
                        }
                    }
                    @*IMAGES WILL BE CODED HERE*@
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            @*if (Model.Patient.DrawenImage1 != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Patient.DrawenImage1);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/patient_drawing_image_bg2(2).jpg'); background-size:150px 125px; background-position:center; background-repeat:no-repeat;">
                                    <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                </div>
                            }*@
                        if (!string.IsNullOrEmpty(Model.PatientDrawnImage1))
                        {

                            <div class="print_text_padding" style="width:130px !important;height:125px !important; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/patient_drawing_image_bg2(2).jpg'); background-size:130px 125px; background-position:center; background-repeat:no-repeat;">
                                @Html.Raw("<img src=" + Model.PatientDrawnImage1 + " style='width: 125px !important; height: 120px !important;'/>")
                            </div>
                        }
                        }
                        @{
                            @*if (Model.Patient.DrawenImage2 != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Patient.DrawenImage2);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/patient_drawing_image_bg2-Copy.jpg'); background-size:150px 125px; background-position:center; background-repeat:no-repeat;">
                                    <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                </div>
                            }*@
                        if (!string.IsNullOrEmpty(Model.PatientDrawnImage2))
                        {

                            <div class="print_text_padding" style="width:130px !important;height:125px !important; border:1px solid #000; margin-right:5px; background: url('../../Content/Images/patient_drawing_image_bg2-Copy.jpg'); background-size:130px 125px; background-position:center; background-repeat:no-repeat;">
                                @Html.Raw("<img src=" + Model.PatientDrawnImage2 + " style='width: 125px !important; height: 120px !important;'/>")
                            </div>
                        }
                        }
                        @{
                            if (Model.Patient.PrescriptionImages != null)
                            {
                                foreach (var item in Model.Patient.PrescriptionImages)
                                {
                                    var base64 = Convert.ToBase64String(item);
                                    var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                    <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                        <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                    </div>
                                }
                            }
                        }
                        @{
                            @*if (Model.Patient.UploadedImage1 != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Patient.UploadedImage1);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                    <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                </div>
                            }*@
                        if (!string.IsNullOrEmpty(Model.PatientUploadedImage1))
                        {
                            @Html.Raw("<img src=" + Model.PatientUploadedImage1 + "  style='height: 125px !important; width: 120px !important; ' />")
                        }
                        }
                        @{
                            @*if (Model.Patient.UploadedImage2 != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Patient.UploadedImage2);
                                var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                <div class="print_text_padding" style="width:19%; border:1px solid #000; margin-right:5px;">
                                    <img src="@imgSrchdr" style="height:125px; width:150px;" />
                                </div>
                            }*@
                        if (!string.IsNullOrEmpty(Model.PatientUploadedImage2))
                        {
                            @Html.Raw("<img src=" + Model.PatientUploadedImage2 + "  style='height: 125px !important; width: 120px !important; ' />")
                        }
                        }


                    </div>

                    <div class="fltleft" style="width:100%; clear:both; font-family:Calibri; font-size:11pt;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Height))
                            {
                                <div class="print_text_padding " style="width:20%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Height)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Height)<span> cm,</span>
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Temprature))
                            {
                                <div class="print_text_padding " style="width:21%;">
                                    <div class="print_text_fltleft print_heading">
                                        <span>TEMPERATURE</span>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Temprature)<span><sup>o</sup>F,</span>
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Pulse))
                            {
                                <div class="print_text_padding " style="width:19%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.Pulse)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.Pulse) <span>/min,</span>
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.BP))
                            {
                                <div class="print_text_padding " style="width:20%;">
                                    <div class="print_text_fltleft print_heading">
                                        <span>B.P.</span>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.BP)<span>mmhg,</span>
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.SPO2))
                            {
                                <div class="print_text_padding " style="width:20%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Patient.SPO2)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Patient.SPO2)<span>%,</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.PR))
                            {
                                <div>
                                    <label class="print_text_fltleft print_heading">P/R</label>
                                    @Html.DisplayFor(model => model.Patient.PR)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Proctoscopy))
                            {
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Proctoscopy)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Proctoscopy)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Others))
                            {
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Others)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Others)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both; font-family:arial black; font-size:10pt; text-decoration:underline;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Diagnosis))
                            {
                                <div class="print_text_fltleft print_heading arial_heading" style="text-transform:uppercase;">
                                    @Html.DisplayNameFor(model => model.Patient.Diagnosis)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Diagnosis)
                                </div>
                            }
                        }
                    </div>

                    @{
                        if (!string.IsNullOrEmpty(Model.Patient.Procedure) || Model.Patient.Investigations.Count() > 0)
                        {
                            <label class="print_text_fltleft print_heading" style="font-size:9pt;line-height:1;">
                                Advice
                            </label>
                        }
                    }

                    <div class="fltleft" style="width:100%; clear:both;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Patient.Procedure))
                            {
                                <div class="print_text_fltleft print_heading">
                                    @Html.DisplayNameFor(model => model.Patient.Procedure)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Patient.Procedure)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; clear:both;">
                        <div class="fltleft" style="width:100%; clear:both;">
                            @{
                                if (Model.Patient.Investigations.Count() > 0)
                                {
                                    //int inst_cnt = 1;
                                    <div class="print_heading fltleft">
                                        @Html.DisplayNameFor(model => model.Patient.Investigations)
                                    </div>
                                    <div class="fltleft">
                                        @foreach (var item in Model.Patient.Investigations)
                                        {
                                            <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                                @Html.DisplayFor(modelItem => item.Name),
                                            </div>
                                        }
                                    </div>

                                    @*<div>
                                            @foreach (var item in Model.Patient.Investigations)
                                            {
                                                <div style="clear:both; width:100%">
                                                    <div class="fltleft" style="width:3%;">
                                                        <span>@inst_cnt)</span>
                                                    </div>
                                                    <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                                        @Html.DisplayFor(modelItem => item.Name):
                                                    </div>
                                                </div>
                                                inst_cnt = inst_cnt + 1;
                                            }
                                        </div>*@
                                }
                            }
                        </div>

                    </div>
                </div>
                @{ int rxflag = 0;
                    if (Model.RX.Medicines.Count > 0)
                    {
                        rxflag = 1;
                    }
                }
                @if (rxflag == 1)
                {
                    <div id="RxPart">
                        <label class="arial_heading" style="clear:both; text-decoration:underline; padding-top:10px;">
                            R/X:
                        </label>
                        <table class="table table-bordered" style="width:auto; font-family:Calibri; font-size:10pt; border:none; margin-bottom:10px;">
                            <tr style="text-transform:uppercase;">
                                <th colspan="2" style="padding-left:0px;">
                                    Medicine Name
                                </th>
                                <th>
                                    Morning
                                </th>
                                <th>
                                    Noon
                                </th>
                                <th>
                                    Night
                                </th>
                                <th style="width:32%; padding-left:3%;">
                                    Dosage
                                </th>
                                <th>
                                    QTY.
                                </th>
                            </tr>
                            @foreach (var item in Model.RX.Medicines)
                            {
                                <tr>
                                    <td style="width:5%; padding-left:0px;">
                                        @Html.DisplayFor(modelItem => item.OINT.Name)
                                    </td>
                                    <td style="width:40%;">
                                        @Html.DisplayFor(modelItem => item.OINTMore)
                                    </td>
                                    <td style="width:5%; text-align:center;">
                                        @Html.DisplayFor(modelItem => item.Morning.Name)
                                    </td>
                                    <td style="width:5%; text-align:center;">
                                        @Html.DisplayFor(modelItem => item.Noon.Name)
                                    </td>
                                    <td style="width:5%; text-align:center;">
                                        @Html.DisplayFor(modelItem => item.Night.Name)
                                    </td>
                                    <td style="width:32%; padding-left:3%;">
                                        @Html.DisplayFor(modelItem => item.Dosage.Name)
                                    </td>
                                    <td style="width:5%; text-align:center;">
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                }
                    <div id="CompulsoryPart">
                        <div class="fltleft" style="width:100%;">
                            @{
                                if (!string.IsNullOrEmpty(Model.Compulsory.FollowDate))
                                {
                                    <div class="print_text_fltleft arial_heading">
                                        @*@Html.DisplayNameFor(model => model.Compulsory.FollowDate):*@
                                        <label class="arial_heading" style="float:left; padding-right:5px;">FOLLOW UP DATE:</label>
                                        @{
                                            DateTime fdt = Convert.ToDateTime(Model.Compulsory.FollowDate);
                                            string fdt1 = fdt.ToString("d MMMM yyyy HH:mm:ss");
                                        }
                                        @fdt1
                                        @*@Html.DisplayFor(model => model.Compulsory.FollowDate)*@
                                        <span>, </span>
                                        @Html.DisplayFor(model => model.Compulsory.Day)
                                    </div>
                                    @*<div class="arial_heading" style="float:left;">
                                            @Html.DisplayFor(model => model.Compulsory.FollowDate)
                                            <span>, </span>
                                            @Html.DisplayFor(model => model.Compulsory.Day)
                                        </div>*@
                                }
                            }
                        </div>
                        <div class="fltleft" style="width:100%;">
                            @{
                                if (Model.Compulsory.Instructions.Count() > 0)
                                {
                                    int inst_cnt = 1;
                                    <div class="print_heading">
                                        @Html.DisplayNameFor(model => model.Compulsory.Instructions)
                                    </div>
                                    <div>
                                        @foreach (var item in Model.Compulsory.Instructions)
                                        {
                                            <div style="clear:both; width:100%">
                                                <div class="fltleft" style="width:3%;">
                                                    <span>@inst_cnt)</span>
                                                </div>
                                                <div class="fltleft" style="padding-right:5px; text-align:justify;">
                                                    @Html.DisplayFor(modelItem => item.Name):
                                                </div>
                                                <div class="fltleft" style="width:80%; text-align:justify;">
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </div>
                                            </div>
                                            inst_cnt = inst_cnt + 1;
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div id="InvoicePart">
                    <label class="arial_heading" style="padding-top:15px; text-decoration:underline;">INVOICE</label>
                    <div class="fltleft" style="width:100%; font-family:Calibri; font-size:10pt;">
                        @{
                            foreach (var pt in Model.Invoice.PaymentTypes)
                            {
                                <div class="fltleft">
                                    <div class="print_heading fltleft">
                                        <span>@pt.PaymentTypeName</span>
                                    </div>
                                    <div class="fltleft" style="padding-right:5px;">
                                        <span>@pt.Rupees</span>
                                        <span> +</span>
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (Model.Invoice.Medicine > 0)
                            {
                                <div class="print_heading fltleft">
                                    @Html.DisplayNameFor(model => model.Invoice.Medicine)
                                </div>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Invoice.Medicine)
                                </div>
                            }
                        }

                        @{
                            if (Model.Invoice.OtherFromTextbox > 0)
                            {
                                <span class="fltleft" style="padding:0 5px;">+</span>
                                <div class="print_heading fltleft">
                                    <label class="print_heading fltleft">Other</label>
                                </div>
                                <div class="fltleft">
                                    @Html.DisplayFor(model => model.Invoice.OtherFromTextbox)
                                </div>
                            }
                        }

                        @{
                            if (Model.Invoice.Less > 0)
                            {
                                <span class="fltleft" style="padding:0 5px;"> –</span>
                                <div class="print_heading fltleft">
                                    @Html.DisplayNameFor(model => model.Invoice.Less)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Invoice.Less)
                                </div>
                            }
                        }
                    </div>
                    <div class="fltleft" style="width:100%; font-family:Calibri; font-size:10pt;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Invoice.Total))
                            {
                                <div class="fltleft" style="width:33%;">
                                    <div class="print_text_fltleft print_heading">
                                        @Html.DisplayNameFor(model => model.Invoice.Total)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Invoice.Total)
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Invoice.CashRecived))
                            {
                                <div class="fltleft" style="width:33%;">
                                    <span class="print_text_fltleft print_heading">
                                        Cash Received
                                    </span>
                                    <div>
                                        @Html.DisplayFor(model => model.Invoice.CashRecived)
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if (!string.IsNullOrEmpty(Model.Invoice.PendingAmount))
                            {
                                <div class="fltleft" style="width:33%;">
                                    <span class="print_text_fltleft print_heading">
                                        Pending Amount
                                    </span>
                                    <div>
                                        @Html.DisplayFor(model => model.Invoice.PendingAmount)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @*<div id="FooterPart">
                            <div class="fltleft" style="width:100%;">
                                @{
                                    if (Model.Footer.FooterPhoto != null)
                                    {
                                        var base64 = Convert.ToBase64String(Model.Footer.FooterPhoto);
                                        var imgSrchdr = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrchdr" style="height:150px; width:100%;" />
                                    }
                                }
                            </div>
                        </div>*@
                </div>
                <div class="form-group">
                    <div style="clear:both; display:block;">
                        <input type="submit" value="Print" class="print_btn" style="width:100px;" />
                    </div>
                </div>
            </div>
        </div>


                }
