@using System.Data;
@model DataTable
@{
ViewBag.Title = "Search";
//Layout = "~/Views/Shared/_Layout.cshtml";
Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}

@*<script src="~/Content/js/jquery-1.11.1.min.js"></script>

<script src="~/Content/js/jquery-ui.min.js"></script>

*@

@*<h2>Search</h2>*@

<table class="table" id="SearchRecords">

<tr>
<th></th>
<th>
Patient No.
</th>
<th>
Invoice No
</th>
<th>
Date
</th>
<th>
Status
</th>
<th>
Name
</th>
<th>
Mobile No
</th>
<th>
Address
</th>
<th>
Department Name
</th>
<th>
Refferal Name
</th>
<th>
Reference
</th>
<th>
Diagnosis
</th>
<th>
Procedure
</th>
<th>
Patient Type
</th>
<th>
New Patient/ FollowUp
</th>
<th>
Charges Type
</th>
</tr>
@foreach(System.Data.DataRow item in Model.Rows)
{
<tr>
<td>
@Html.ActionLink("Select", "Edit", new { id = item["ID"] })
</td>
<td>
@CheckDBNull.ToStr(item["ID"])
</td>
<td>
@CheckDBNull.ToStr(item["InvoiceNo"])
</td>
<td>
@CheckDBNull.ToStr(item["Date"])
</td>
<td>
@CheckDBNull.ToStr(item["Status"])
</td>
<td>
@CheckDBNull.ToStr(item["Name"])
</td>
<td>
@CheckDBNull.ToStr(item["MobileNo"])
</td>
<td>
@CheckDBNull.ToStr(item["Address"])
</td>
<td>
@CheckDBNull.ToStr(item["DepartmentName"])
</td>
<td>
@CheckDBNull.ToStr(item["RefferalName"])
</td>
<td>
@CheckDBNull.ToStr(item["Reference"])
</td>
<td>
@CheckDBNull.ToStr(item["Diagnosis"])
</td>
<td>
@CheckDBNull.ToStr(item["Procedure"])
</td>
<td>
@CheckDBNull.ToStr(item["PatientType"])
</td>
<td>
@CheckDBNull.ToStr(item["NewPatientOrFollowUp"])
</td>
<td>
&nbsp;
</td>

</tr>
}
@if (Model.Rows.Count == 0)
{
<tr>
<td colspan="15">
No Record Found.
</td>
</tr>
}
</table>

