@model DoctorWeb.Models.Prescription

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Invoice Details</h2>

<div>
    @*<h4>Prescription</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Instruction.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instruction.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientType.PatientTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientType.PatientTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Less)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Less)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
</p>
