@model IEnumerable<DoctorWeb.Models.Prescription>

@{
    ViewBag.Title = "Weekly";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Weekly Invoices</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>Invoice No</th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Patient.ReferredBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowDate)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Status)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Patient.ReferredBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>