@model PagedList.IPagedList<DoctorWeb.Models.PreImage>
@using PagedList.Mvc;
@using System.Text;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Prescription Images</h2>
@if (TempData["ErrorMessage"] != null)
{
    <p style="color:red; font-size:16px;">@TempData["ErrorMessage"]</p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Label: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Image)*@
            Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Label)*@
            Label
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Image)*@
            @*@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Image) + "\" width='100' height='100'/>")*@

            @Html.Raw("<img src=" + @Url.Content("~/Content/Images/PreImages/" + Encoding.ASCII.GetString(item.Image)) + " width='100' height='100'/>")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td> 
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))