@model DoctorWeb.Models.PaymentType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details about Charge type</h2>

<div>
    @*<h4>PaymentType</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rupees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rupees)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
