@model DoctorWeb.Models.SMS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    span {
        font-family: Calibri, Verdana;
        font-size: 16px;
        line-height: 200%;
    }

    #Follow_Up, #D_R_P, #Holiday_One, #Holiday_Two {
        line-height: 300%;
        text-align: left;
    }

        #Follow_Up div, #D_R_P div, #Holiday_One div, #Holiday_Two div {
            border: 1px solid #ccc;
            margin-left: 15px;
            max-width: 570px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            margin-bottom: 0;
            font-size: 12px;
            color: #666;
            background: #fff;
            line-height: 30px;
            padding: 10px;
        }

        #Follow_Up input[type="text"], #Follow_Up input[type="number"], #D_R_P input[type="text"], #Holiday_One input[type="text"], #Holiday_Two input[type="text"], #Holiday_One input[type="date"], #Holiday_Two input[type="date"] {
            font-family: Calibri, Verdana;
            font-size: 16px;
            height: 20px;
            border: none;
            border-bottom: 1px solid black;
            line-height: 100%;
            height: 100%;
            width: 100%;
            text-align: center;
            box-shadow: none;
        }
        #Holiday_One input[type="date"], #Holiday_Two input[type="date"] {
            width:150px;
        }
</style>
<h2>Send SMS</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Patients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Patients, htmlAttributes: new { @class = "form-control", id = "Select_Number" })
                @Html.ValidationMessageFor(model => model.Patients, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Message</label>
            <div class="col-md-10">
                <select id="Select_Message" style="width:100%;">
                    @*<option value="Followup">Follow Up</option>
                    <option value="DRP">Doctor/Relative/Patient</option>*@
                    <option value="Personal">Personal Message</option>
                    <option value="Holiday1">Holiday Message 1</option>
                    <option value="Holiday2">Holiday Message 2</option>
                </select>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @*<div class="form-group" id="Follow_Up">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>Dear </span><b><span>Patient Name</span></b>
                <span>, Your Appointment has been confirmed with</span>
                <input type="text" style="max-width: 200px;" placeholder="Doctor Name here"/>
                <span> at </span>
                <input type="text" style="max-width: 200px;" placeholder="Hospital Name here" />
                <span> on </span>
                <input type="text" style="max-width: 40px;" placeholder="DD" /> <span> / </span>
                <input type="text" style="max-width: 40px;" placeholder="MM" /> <span> / </span>
                <input type="text" style="max-width: 60px;" placeholder="YYYY" /><span> at </span>
                <input type="text" style="max-width: 60px;" placeholder="TIME"/>
                <span>. Call </span>
                <input type="number" style="max-width: 200px;" placeholder="Phone Number here" />
                <span>for any query.</span>
            </div>
        </div>

        <div class="form-group" id="D_R_P" style="display:none;">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Message" name="Message">
                <span>Dear </span><input type="text" style="max-width: 175px;" placeholder="Doctor Name here"/>
                <span> your referred patient </span>
                <input type="text" style="max-width: 175px;" placeholder="Patient Name here" />
                <span> was examined by </span>
                <input type="text" style="max-width: 200px;" placeholder="Doctor Name here" />
                <span> at </span>
                <input type="text" style="max-width: 200px;" placeholder="Hospital Name here" />
                <span> on </span>
                <input type="text" style="max-width: 40px;" placeholder="DD" /> <span> / </span>
                <input type="text" style="max-width: 40px;" placeholder="MM" /> <span> / </span>
                <input type="text" style="max-width: 60px;" placeholder="YYYY" /><span> / </span>
                <input type="text" style="max-width: 100px;" placeholder="TIME" />
                <span>. Thanks for your reference. </span>
            </div>
        </div>*@

        <div class="form-group" id="Personal">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @style = "height:auto; max-width:600px !important;" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="Holiday_One" style="display:none;">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>Doctor is not available at </span>
                @System.Web.Configuration.WebConfigurationManager.AppSettings["HospitalName"]
                @*<input type="text" style="max-width: 200px;" />*@
                <span> FROM </span>
                @Html.EditorFor(model => model.FromHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "From_Date", placeholder = "From Date Here" } })
                <span> TO </span>
               @Html.EditorFor(model => model.ToHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "To_Date", placeholder = "To Date Here" } })
                <span>. So please call us for further query.</span>
            </div>
        </div>

        <div class="form-group" id="Holiday_Two" style="display:none;">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>Dear all </span>
                @System.Web.Configuration.WebConfigurationManager.AppSettings["HospitalName"]
                @*<input type="text" style="max-width: 200px;" />*@
                <span> will be closed FROM </span>
               @Html.EditorFor(model => model.FromHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "From_Date", placeholder = "From Date Here" } })
                <span> TO </span>
                @Html.EditorFor(model => model.ToHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "To_Date", placeholder = "To Date Here" } })
                <span>. So please call us for further query.</span>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group" id="Mob_Number" style="display:none;">
            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group" id="From_Date" style="display:none;">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", type = "date", id="From_Date" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="To_Date" style="display:none;">
            @Html.LabelFor(model => model.ToData, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToData, new { htmlAttributes = new { @class = "form-control", type = "date", id = "To_Date" } })
                @Html.ValidationMessageFor(model => model.ToData, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" id="Holiday_From_Date" style="display:none;">
            @Html.LabelFor(model => model.FromHolidayDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "From_Date" } })
                @Html.ValidationMessageFor(model => model.FromHolidayDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="Holiday_To_Date" style="display:none;">
            @Html.LabelFor(model => model.ToHolidayDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToHolidayDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "To_Date" } })
                @Html.ValidationMessageFor(model => model.ToHolidayDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @Html.ValidationMessageFor(model => model.FromHolidayDate, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.ToHolidayDate, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" onclick="assignmessage()"/>
                @*<input type="button" value="Send" class="btn btn-default" onclick="assignmessage()" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("SMS History", "Index")
</div>

<script type="text/javascript">
    jQuery( "#Select_Message" ).change(function() {
        var s = document.getElementById('Select_Message');
        var item1 = s.options[s.selectedIndex].value;
        if (item1 == "Personal") {
            document.getElementById("Personal").style.display = 'block';
            //document.getElementById("Follow_Up").style.display = 'none';
            //document.getElementById("D_R_P").style.display = 'none';
            document.getElementById("Holiday_One").style.display = 'none';
            document.getElementById("Holiday_Two").style.display = 'none';

        }
        //else if (item1 == "Followup") {
        //    document.getElementById("Personal").style.display = 'none';
        //    document.getElementById("Follow_Up").style.display = 'block';
        //    document.getElementById("D_R_P").style.display = 'none';
        //    document.getElementById("Holiday_One").style.display = 'none';
        //    document.getElementById("Holiday_Two").style.display = 'none';
        //}
        //else if (item1 == "DRP") {
        //    document.getElementById("Personal").style.display = 'none';
        //    document.getElementById("Follow_Up").style.display = 'none';
        //    document.getElementById("D_R_P").style.display = 'block';
        //    document.getElementById("Holiday_One").style.display = 'none';
        //    document.getElementById("Holiday_Two").style.display = 'none';
        //}
        else if (item1 == "Holiday1") {
            document.getElementById("Personal").style.display = 'none';
            //document.getElementById("Follow_Up").style.display = 'none';
            //document.getElementById("D_R_P").style.display = 'none';
            document.getElementById("Holiday_One").style.display = 'block';
            document.getElementById("Holiday_Two").style.display = 'none';
        }
        else if (item1 == "Holiday2") {
            document.getElementById("Personal").style.display = 'none';
            //document.getElementById("Follow_Up").style.display = 'none';
            //document.getElementById("D_R_P").style.display = 'none';
            document.getElementById("Holiday_One").style.display = 'none';
            document.getElementById("Holiday_Two").style.display = 'block';
        }
    });

    jQuery("#Select_Number").change(function () {
        var s = document.getElementById('Select_Number');
        var item1 = s.options[s.selectedIndex].value;
        if (item1 == "3") {
            document.getElementById("From_Date").style.display = 'block';
            document.getElementById("To_Date").style.display = 'block';
            document.getElementById("Mob_Number").style.display = 'none';
            $("#From_Date")[0].setAttribute("required", "true");
            $("#To_Date").prop('required', true);
        }
        else if (item1 == "4") {
            document.getElementById("From_Date").style.display = 'none';
            document.getElementById("To_Date").style.display = 'none';
            document.getElementById("Mob_Number").style.display = 'block';
            document.getElementById("From_Date").required = false;
            document.getElementById("To_Date").required = false;
        }
        else {
            document.getElementById("From_Date").style.display = 'none';
            document.getElementById("To_Date").style.display = 'none';
            document.getElementById("Mob_Number").style.display = 'none';
            document.getElementById("From_Date").required = false;
            document.getElementById("To_Date").required = false;
        }
    });

    function assignmessage()
    {
        var s = document.getElementById('Select_Message');
        var item1 = s.options[s.selectedIndex].value;
        if (item1 == "Holiday1") {
            var node = document.getElementById('Holiday_One');
            alert("Holiday_One Content : " + node.textContent);
            document.getElementById("Message").value = node.textContent;
        }
        else if (item1 == "Holiday2") {
            var node = document.getElementById('Holiday_Two');
            alert("Holiday_Two Content : " + node.textContent);
            document.getElementById("Message").value = node.textContent;
            alert(document.getElementById("Message").value);
        }
    }
</script>

