@model IEnumerable<DoctorWeb.Models.SMS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of SMS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patients)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td style="max-width:70%;">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
        @*<td>
        @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>*@
        <td>
          @*  @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            
        </td>
    </tr>
}

</table>
