@model DoctorWeb.Models.Medicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.After)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.After)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Night)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Night)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSync)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSync)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
