@model DoctorWeb.Models.Medicine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Medicine Details</h2>

<div>
    @*<h4>Medicine</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.OINTMore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OINTMore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OINTTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OINT.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrescriptionCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrescriptionCategory.Name)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.MorningDozID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morning.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoonDozID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NightDozID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Night.Name)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.DosageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dosage.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDayAffected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDayAffected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
