@model IEnumerable<DoctorWeb.Models.Medicine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Medicines</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Dosage.Name)*@
            Dosage
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Morning.Name)*@
            Morning
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Night.Name)*@
            Night
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Noon.Name)*@
            Noon
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.OINT.Name)*@
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OINTMore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDayAffected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noon.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OINT.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OINTMore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDayAffected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
