@model DoctorWeb.Models.PrescriptionMedicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrescriptionMedicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Night)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Night)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
