@model DoctorWeb.Models.PatientType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSync)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSync)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
