    <!DOCTYPE html>
    <html>
    <head>
        <style>
        </style>
        <meta charset="UTF-8">
        <title>Dr.Software</title>
        
        @*@Styles.Render("~/bundles/css")*@
        @*@Scripts.Render("~/bundles/myscripts")*@

        <link rel="stylesheet" href="/Content/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/Content/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/Content/css/picedit.css" />
        <link rel="stylesheet" href="/Content/css/style.css">
        <link rel="stylesheet" type="text/css" href="/Content/css/patient.css" />
        <link rel='stylesheet' href='/Content/css/responsive-tables.css'>       
        <link rel="stylesheet" href="/Content/css/examples.css">
        <link rel="stylesheet" href="/Content/css/fontawesome-stars.css">
        <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/css/jquery-ui.css" />

        <script src="~/Content/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/Content/js/jquery-1.12.0.min.js"></script>
        <script src="~/Content/autocomplete/jquery-ui.js"></script>
        <script type="text/javascript" src="/Content/js/html-table-search.js"></script>
        <script src="/Content/js/jquery.barrating.js"></script>
        <script src="/Content/js/examples.js"></script>
        <script type="text/javascript" src="/Content/js/webcam.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="top">
         
                <div class="logo">
                    <a href="/Home/Index"><img src="/Content/Images/logo.png"></a>
                  
                </div>
                @*<div class="reslogo">
                    <a href="/Home/Index"><img src="/Content/Images/res_logo.png"></a>
                </div>*@
                <div class="search">
                    @*<form method="get" action="Home/Search">
                            <input class="search_text" type="textbox" name="PatientName" ID="PatientName">
                            <button style="float: left;" class="okok" data-popup-open="popup-1" href="#" id="search_btn">Search</button>
                        </form>*@
                    <input class="search_text" style="color:#000 !important;" type="textbox" name="PatientName" ID="PatientName">
                    <button style="float: left;" class="okok" data-popup-open="popup-1" href="#" id="search_btn" onclick="patientsearch();">Search</button>
                    <a class="okok" href="/Doctor/Index" style="float: left; margin-left:10px;"><button>Admin</button></a>
                    <button style="float: left;" class="okok" data-popup-open="popup-1" href="#" id="search_btn" onclick="followup();">Follow Up</button>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="okok" href="javascript:document.getElementById('logoutForm').submit()" style="float: left; margin-left:10px;"><button>Sign out</button></a>
                        }
                    }
                    <div id="SearchRecords"></div>
                </div>
            </div><!---- top part End --->
            <div style="clear:both"></div>
           
            <div>
                <!-- multistep form -->
                @RenderBody()
                <hr />
             
            </div>

           
            @RenderSection("scripts", required: false)

</div>

    </body>
</html>

<script type="text/javascript">

    function patientsearch() {
        //window.location = "/Home/Search?PatientName=" + document.getElementById("PatientName").value;
        try {
            var searchpatient = $.noConflict(true);
        } catch (e) { }
        searchpatient("#SearchRecords").dialog({
            autoOpen: true,
            position: { my: "center", at: "top", of: window },
            width: 1200,
            //resizable: false,
            title: 'Search Result',
            modal: true,
            classname: 'searchdialog',
            open: function () {
                var patientname = document.getElementById("PatientName").value;
                var pname = patientname.replace(" ", "_");
                searchpatient(this).load('@Url.Action("Search", "Home", new { PatientName = "ID"})'.replace("ID", pname));
                searchpatient('#SearchRecords').focus();
            },
            close: function () {
                javascript: location.reload(true);
                @*searchpatient(this).load('@Url.Action("Index", "Home")');*@
            },
        });
        return false;
    }

    function followup() {
        //window.location = "/Home/Search?PatientName=" + document.getElementById("PatientName").value;
        try {
            var searchpatient = $.noConflict(true);
        } catch (e) { }
        searchpatient("#SearchRecords").dialog({
            autoOpen: true,
            position: { my: "center", at: "top", of: window },
            width: 1200,
            //resizable: false,
            title: 'Followup Patients',
            modal: true,
            classname: 'searchdialog',
            open: function () {
                @*searchpatient(this).load('@Url.Action("FollowupList", "Home", new { fdate = DateTime.Now.Date})');*@
                searchpatient(this).load('@Url.Action("FollowupList_Intermediate", "Home")');

                searchpatient('#SearchRecords').focus();
            },
            close: function () {
                javascript: location.reload(true);
                @*searchpatient(this).load('@Url.Action("Index", "Home")');*@
            },
        });
        return false;
    }
</script>
